/* GENERAL PAGE STYLING */
body {
  text-align: center;
  justify-content: center;
}

/* SIGN IN PAGE STYLING */
.signInSection {
  border-style: groove;
  border-width: 0.5px;
  border-radius: 10px;
  margin: 5% 35%;
  padding: 5%;
}

.signInLogoImage {
  width: 50%;
  height: 30%;
}

/* DASHBOARD PAGE STYLING */

.dashBoardContainer {
  justify-content: center;
  margin: 5% 20% 5% 20%;
}

#viewCentre {
  width: 260px;
  padding: 20px;
  margin: auto;
  justify-content: center;
}

/* CENTRE INDEX PAGE STYLING */
.brandLogoImage {
  width: 10%;
  height: 3%;
}

.centreIndexContainer {
  justify-content: center;
  margin: 0% auto 3%;
  display: flex;
  flex-wrap: wrap;
}

.centre {
  width: 260px;
  padding: 20px;
  margin: auto;
  justify-content: center;
}

.centreImage {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

.centreEdit {
  width: 400px;
  padding: 20px;
  margin: 20px auto;
  text-align: left;
}
