/* GENERAL PAGE */
body {
  text-align: center;
  justify-content: center;
}

#dashBoard {
  text-align: right;
}

#brandLogoImage {
  width: 10%;
  height: 3%;
}

.linkName {
  text-decoration: none;
}

.text-field-width {
  width: 250px;
}

/* SIGN IN PAGE */
.signInSection {
  border-style: groove;
  border-width: 0.5px;
  border-radius: 10px;
  margin: 5% 35%;
  padding: 5%;
}

.signInLogoImage {
  width: 50%;
  height: 30%;
}

/* DASHBOARD PAGE */
.dashBoardContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0% 0% 0% 10%;
}

.dashBoardBox {
  width: 200px;
  padding: 20px;
  margin: 2%;
}

/* CENTRE INDEX PAGE */
.centreIndexContainer {
  justify-content: center;
  margin: 0% auto 3%;
  display: flex;
  flex-wrap: wrap;
}

.centre {
  width: 260px;
  padding: 0px;
  margin: auto;
  justify-content: center;
}

.centreImage {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

/* CENTRE SHOW PAGE */
.centreContainer {
  width: 50%;
  justify-content: center;
  margin: auto;
}

/* NEW CENTRE PAGE */
.newCentreContainer {
  width: 400px;
  padding: 20px;
  margin: 20px auto;
  text-align: left;
}

/* CENTRE EDIT PAGE */
.centreEditContainer {
  width: 400px;
  padding: 20px;
  margin: 20px auto;
  text-align: left;
}

/* EMPLOYEE INDEX PAGE */
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* EMPLOYEE SHOW PAGE */
.employeeContainer {
  width: 20%;
  justify-content: center;
  margin: auto;
}

/* NEW EMPLOYEE PAGE */
.newEmployeeContainer {
  width: 400px;
  padding: 20px;
  margin: 20px auto;
  text-align: left;
}

/* EMPLOYEE EDIT PAGE */
.employeeEditContainer {
  width: 30%;
  margin: 20px auto;
  text-align: left;
}
