<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
  </head>
  <body class="mdc-typography">
    <div class="signInSection">
      <img src="../images/logo.png" class="signInLogoImage" alt="Image" />
      <h6 class="mdc-typography--headline6">Create your EDOOVO Account</h6>
      <form action="/users" method="POST">
        <div
          class="mdc-text-field mdc-text-field--outlined mdc-text-field--dense mdc-text-field--focused"
        >
          <input
            type="text"
            placeholder="Username*"
            class="mdc-text-field__input"
            id="username"
            name="username"
          />
          <div class="mdc-notched-outline">
            <div class="mdc-notched-outline__leading"></div>
            <div class="mdc-notched-outline__notch">
              <label for="username" class="mdc-floating-label"></label>
            </div>
            <div class="mdc-notched-outline__trailing"></div>
          </div>
        </div>
        <p></p>
        <div
          class="mdc-text-field mdc-text-field--outlined mdc-text-field--dense mdc-text-field--focused"
        >
          <input
            type="password"
            placeholder="Password*"
            class="mdc-text-field__input"
            id="password"
            name="password"
          />
          <div class="mdc-notched-outline">
            <div class="mdc-notched-outline__leading"></div>
            <div class="mdc-notched-outline__notch">
              <label for="password" class="mdc-floating-label"></label>
            </div>
            <div class="mdc-notched-outline__trailing"></div>
          </div>
        </div></br>
        <P></P>
        <button type="submit" class="mdc-button mdc-button--raised">
          <div class="mdc-button__ripple"></div>
          <span class="mdc-button__label">Create</span>
        </button>
        <button
        type="button"
        class="mdc-button mdc-button--outlined"
        onclick="location.href='/sessions/new'"
      >
        <span class="mdc-button__ripple"></span>Cancel
      </button>
      </form>
    </div>
  </body>
</html>
