<!DOCTYPE html>
<html>
  <head>
    <title>Centre Index</title>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <div id="dashBoard">
      <button
        class="mdc-button mdc-button--raised"
        onclick="location.href='/dashboard'"
      >
        <span class="mdc-button__ripple"></span>Dashboard
      </button>
    </div>

    <img src="../images/raffleskidz.jpg" id="brandLogoImage" alt="Image" />

    <div class="centreIndexContainer">
      <% for(let i = 0; i < centres.length; i++) { %>
      <div class="mdc-card demo-card centre">
        <div
          class="mdc-card__primary-action demo-card__primary-action"
          tabindex="0"
        >
          <div
            class="mdc-card__media mdc-card__media--16-9 demo-card__media"
            style='background-image: url("<%= centres[i].img %>");'
          ></div>
          <div class="demo-card__primary">
            <p
              class="demo-card__title mdc-typography mdc-typography--subtitle1"
            >
              <%= centres[i].name %>
            </p>
          </div>
          <div
            class="demo-card__secondary mdc-typography mdc-typography--body2"
          >
            <%= centres[i].description %>
          </div>
        </div>
        <div class="mdc-card__actions">
          <div class="mdc-card__action-buttons">
            <button
              class="mdc-button mdc-card__action mdc-card__action--button"
              onclick="location.href='/raffleskidz/centres/<%= centres[i].id %>'"
            >
              <span class="mdc-button__ripple"></span> View
            </button>
          </div>
        </div>
      </div>
      <% } %>
    </div>
    <P></P>
    <button
      class="mdc-button mdc-button--raised"
      onclick="location.href='/raffleskidz/centres/new'"
    >
      <div class="mdc-button__ripple"></div>
      <span class="mdc-button__label">New centre</span>
    </button>
  </body>
</html>
