<!DOCTYPE html>
<html>
  <head>
    <title>New Centre</title>
    <% include ../partials/head.ejs %>
  </head>
  <body>
    <div id="dashBoard">
      <button
        class="mdc-button mdc-button--raised"
        onclick="location.href='/dashboard'"
      >
        <span class="mdc-button__ripple"></span>Dashboard
      </button>
    </div>
    <img
      src="../../images/raffleskidz.jpg"
      class="brandLogoImage"
      alt="Image"
    />
    <div class="centreEdit">
      <form action="/raffleskidz/centres" method="POST">
        <table align="center">
          <tr>
            <td><label> Name </label></td>
            <td>
              <input type="text" name="name" />
            </td>
          </tr>
          <tr>
            <td><label> Address </label></td>
            <td>
              <input type="text" name="address" />
            </td>
          </tr>
          <tr>
            <td><label> Description </label></td>
            <td>
              <input type="text" name="description" />
            </td>
          </tr>
          <tr>
            <td><label> School Fee </label></td>
            <td>
              <input type="number" name="fee" />
            </td>
          </tr>
          <tr>
            <td><label> Capacity </label></td>
            <td>
              <input type="number" name="capacity" />
            </td>
          </tr>
          <tr>
            <td colspan="2" align="center">
              <input type="submit" value="Submit" />
            </td>
          </tr>
        </table>
      </form>
    </div>
  </body>
</html>
